* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  height: 100vh;
}

h2 {
  position: absolute;
  top: 100px;
  left: 600px;
  font-size: 20px;
  font-weight: 400;
}

.movieEmail {
  position: absolute;
  left: 450px;
  top: 180px;
}

.movieEmail input {
  padding: 5px;
  width: 400px;
  height: 35px;
  display: block;
}

.passwordSection {
  position: absolute;
  left: 450px;
  top: 260px;
}

.passwordSection input {
  width: 400px;
  height: 35px;
  display: block;
}

.passwordConfirm {
  position: absolute;
  left: 450px;
  top: 340px;
}

.passwordConfirm input {
  width: 400px;
  height: 35px;
  display: block;
}

#btnRegister {
  position: absolute;
  left: 450px;
  top: 450px;
  width: 400px;
  display: block;
  background-color: #a90909;
  color: #fff;
}
